.gpr-etapa {
    .title {
        height: 40px;
        display: flex;

        * {
            font-size: 1.1rem;
            margin: auto;
        }
    }

    .icon {
        img {
            height: 60px;
            width: 60px;
            object-fit: contain;
        }
    }

    .desc {
        color: #195766;
        font-size: 0.85rem;
    }
}