.gpr-banner {

    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: cover;
    background-attachment: scroll;
    height: 60vh;
    
    color: white !important;

    img {

        background-size: contain;
        background-position: center bottom;
    }

    .overlay { 
        background: linear-gradient(90deg, rgba(#0A2F40, .9), rgba(#0A2F40, 0) 70%);
    }

    .banner-content {

        margin-right: auto;
        // margin-left: 160px;

        .title {
            font-weight: bold;
            line-height: 1;
            margin-bottom: 1.5rem;
        }
    
        .subtitle {
            font-weight: 400;
            line-height: 1;
        }

        .titles {
            margin-bottom: 2.5rem;
        }
    
        .action a {
            text-transform: uppercase;

            border-radius: 28px;
            padding: 7px 14px;
        
            color: white !important;

            font-weight: 600;
            
            font-size: .8rem;
    
            transition: background-color .2s;
        }
    }

}

@media all and (min-width: 1440px) {
    
    
    .gpr-banner {
        .banner-content {
            margin-left: 20vw;
        }
    }
    
}

@media all and (min-width: 992px) {
    .gpr-banner {
        height: 70vh;
        .banner-content {
            max-width: 350px;
        }
    }
}

@media all and (min-height: 1024px) {
    
    .gpr-banner {
        height: 50vh;
    }
}


@media all and (max-width: 992.1px) {
    .gpr-banner {
        .banner-content {
            margin-right: auto !important;
            margin-left: auto !important;

            .titles {
                margin-bottom: 1.5rem;

                .title {
                    margin-bottom: 1rem;
                }
            }
        }
    }
    
}