@import "./banner/block.scss";

$control-icon-size: 2.5rem;

.gpr-cta {
    .carousel-control {
        &-prev:hover {
            background: linear-gradient(90deg, rgba(#000, 0.25), rgba(#000, 0));
        }
        &-next:hover {
            background: linear-gradient(-90deg, rgba(#000, 0.25), rgba(#000, 0));
        }

        &-prev,
        &-next {
            opacity: 1;

            width: calc($control-icon-size * 3);

            .carousel-control-next-icon,
            .carousel-control-prev-icon {
                border-radius: 50%;
                margin: auto;
                width: $control-icon-size;
                height: $control-icon-size;

                background-color: rgba(#000000, 0.5);
                transition: background-color 0.2s ease;
                opacity: 1;

                font-size: calc($control-icon-size / 2);

                color: white !important;
                font-family: bootstrap-icons;
                font-weight: bolder;

                background-image: none;

                display: flex;
            }

            &:hover {
                opacity: 1;
                .carousel-control-next-icon,
                .carousel-control-prev-icon {
                    background-color: rgba(#000000, 1);
                }
            }

            .carousel-control-prev-icon::before {
                content: "\f284";
                margin: auto;
            }

            .carousel-control-next-icon::before {
                content: "\f285";
                margin: auto;
            }
        }
    }
}

@media all and (max-width: 992px) {
    .gpr-cta {
        .carousel-control {
            &-prev,
            &-next {
                position: relative;
                top: unset;
                bottom: unset;
                left: unset;
                right: unset;

                width: calc($control-icon-size);
                height: calc($control-icon-size);
                opacity: 1;
                border-radius: 5px;
                display: inline-flex;
            }
        }
    }
}
