
.gpr-galeria {
    .title {
        * {
            font-weight: 400;
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}
