.gpr-carac {
    .icon {
        img {
            height: 40px;
            width: 40px;
            object-fit: contain;
        }
    }
    .desc span {
        font-size: .9rem;
        color: #195766;
    }
}